{% extends 'base.html' %}
{% load static %}

{% block content %}


    <!-- Main Content -->
    <div id="main-content" class="site-main clearfix">
        <div id="content-wrap">
            <div id="site-content" class="site-content clearfix">
                <div id="inner-content" class="inner-content-wrap">
                    <div class="page-content">
                        <!-- SLIDER -->
                        <div class="rev_slider_wrapper fullwidthbanner-container">
                            <div id="rev-slider1" class="rev_slider fullwidthabanner">
                                <ul>
                                    <!-- Slide 1 -->
                                    {%for home in home%}
                                    <li data-transition="random">
                                        <!-- Main Image -->
                                        
                                        <img src="{{home.banner_image1}}" alt="" data-bgposition="center center" data-no-retina>
                                        
                                        <!-- Layers -->
                                        <div class="tp-caption tp-resizeme text-white font-heading font-weight-700"
                                            data-x="['left','left','left','center']" data-hoffset="['-5','-5','0','0']"
                                            data-y="['middle','middle','middle','middle']" data-voffset="['-12','-12','-12','-30']"
                                            data-fontsize="['52','52','50','28']"
                                            data-lineheight="['66','66','60','35']"
                                            data-width="full"
                                            data-height="none"
                                            data-whitespace="normal"
                                            data-transform_idle="o:1;"
                                            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                                            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                            data-mask_in="x:0px;y:[100%];" 
                                            data-mask_out="x:inherit;y:inherit;" 
                                            data-start="700" 
                                            data-splitin="none" 
                                            data-splitout="none" 
                                            data-responsive_offset="on">
                                            {{home.banner1_h1 | linebreaksbr}}
                                        </div>

                                        <div class="tp-caption sub-title text-white"
                                            data-x="['left','left','left','center']" data-hoffset="['-5','-5','0','0']"
                                            data-y="['middle','middle','middle','middle']" data-voffset="['104','104','95','57']"
                                            data-fontsize="['20','20','18','16']"
                                            data-lineheight="['34','34','34','25']"
                                            data-width="full"
                                            data-height="none"
                                            data-whitespace="normal"
                                            data-transform_idle="o:1;"
                                            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                                            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                            data-mask_in="x:0px;y:[100%];" 
                                            data-mask_out="x:inherit;y:inherit;" 
                                            data-start="1000" 
                                            data-splitin="none" 
                                            data-splitout="none" 
                                            data-responsive_offset="on">
                                            {{home.banner1_caption | linebreaksbr}}
                                        </div>

                                        <div class="tp-caption"
                                            data-x="['left','left','left','center']" data-hoffset="['-5','-5','0','0']"
                                            data-y="['middle','middle','middle','middle']" data-voffset="['193','193','180','145']"
                                            data-width="full"
                                            data-height="none"
                                            data-whitespace="normal"
                                            data-transform_idle="o:1;"
                                            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                                            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                            data-mask_in="x:0px;y:[100%];" 
                                            data-mask_out="x:inherit;y:inherit;" 
                                            data-start="1000" 
                                            data-splitin="none" 
                                            data-splitout="none" 
                                            data-responsive_offset="on">
                                            <a href="#request" class="themesflat-button accent big video"><i class="flat-icon-check-1 font-size-25"></i>Request Quote</a>
                                        </div>

                                        <div class="tp-caption"
                                            data-x="['left','left','left','center']" data-hoffset="['212','212','185','170']"
                                            data-y="['middle','middle','middle','middle']" data-voffset="['193','193','180','145']"
                                            data-width="full"
                                            data-height="none"
                                            data-whitespace="normal"
                                            data-transform_idle="o:1;"
                                            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                                            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                            data-mask_in="x:0px;y:[100%];" 
                                            data-mask_out="x:inherit;y:inherit;" 
                                            data-start="1000" 
                                            data-splitin="none" 
                                            data-splitout="none" 
                                            data-responsive_offset="on">
                                         </div>
                                    </li>
                                    {% endfor %}
                                    <!-- /End Slide 1 -->

                                    <!-- Slide 2 -->
                                    {%for home in home%}
                                    <li data-transition="random">
                                        <!-- Main Image -->
                                        
                                        <img src="{{home.banner_image2}}" alt="" data-bgposition="center center" data-no-retina>
                                        
                                        <!-- Layers -->
                                        <div class="tp-caption tp-resizeme text-white font-heading font-weight-700 text-center"
                                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                            data-y="['middle','middle','middle','middle']" data-voffset="['-12','-12','-12','-30']"
                                            data-fontsize="['64','64','50','28']"
                                            data-lineheight="['66','66','60','35']"
                                            data-width="full"
                                            data-height="none"
                                            data-whitespace="normal"
                                            data-transform_idle="o:1;"
                                            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                                            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                            data-mask_in="x:0px;y:[100%];" 
                                            data-mask_out="x:inherit;y:inherit;" 
                                            data-start="1000" 
                                            data-splitin="none" 
                                            data-splitout="none" 
                                            data-responsive_offset="on">
                                            {{home.banner2_h1 | linebreaksbr}}
                                        </div>

                                        <div class="tp-caption tp-resizeme text-white text-center"
                                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                            data-y="['middle','middle','middle','middle']" data-voffset="['104','104','95','57']"
                                            data-fontsize="['18','18','18','16']"
                                            data-lineheight="['34','34','34','25']"
                                            data-width="full"
                                            data-height="none"
                                            data-whitespace="normal"
                                            data-transform_idle="o:1;"
                                            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                                            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                            data-mask_in="x:0px;y:[100%];" 
                                            data-mask_out="x:inherit;y:inherit;" 
                                            data-start="1000" 
                                            data-splitin="none" 
                                            data-splitout="none" 
                                            data-responsive_offset="on">
                                            {{home.banner2_caption | linebreaksbr}}
                                        </div>

                                        <div class="tp-caption text-center"
                                            data-x="['center','center','center','center']" data-hoffset="['-110','-110','-90','-85']"
                                            data-y="['middle','middle','middle','middle']" data-voffset="['203','203','203','140']"
                                            data-width="250"
                                            data-height="none"
                                            data-whitespace="normal"
                                            data-transform_idle="o:1;"
                                            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                                            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                            data-mask_in="x:0px;y:[100%];" 
                                            data-mask_out="x:inherit;y:inherit;" 
                                            data-start="1000" 
                                            data-splitin="none" 
                                            data-splitout="none" 
                                            data-responsive_offset="on">
                                        </div>

                                        <div class="tp-caption text-center"
                                            data-x="['center','center','center','center']" data-hoffset="['104','104','90','85']"
                                            data-y="['middle','middle','middle','middle']" data-voffset="['203','203','203','140']"
                                            data-width="250"
                                            data-height="none"
                                            data-whitespace="normal"
                                            data-transform_idle="o:1;"
                                            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                                            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                            data-mask_in="x:0px;y:[100%];" 
                                            data-mask_out="x:inherit;y:inherit;" 
                                            data-start="1000" 
                                            data-splitin="none" 
                                            data-splitout="none" 
                                            data-responsive_offset="on">
                                         </div>
                                    </li>
                                    {% endfor %}
                                    <!-- /End Slide 2 -->

                                    <!-- Slide 3 -->
                                    {%for home in home%}
                                    <li data-transition="random">
                                        <!-- Main Image -->
                                        
                                        <img src="{{home.banner_image3}}" alt="" data-bgposition="center center" data-no-retina>
                                       
                                       <!-- Layers -->
                                        <div class="tp-caption tp-resizeme text-white font-heading font-weight-700 text-right"
                                            data-x="['right','right','right','right']" data-hoffset="['-5','-5','0','0']"
                                            data-y="['middle','middle','middle','middle']" data-voffset="['-12','-12','-12','-30']"
                                            data-fontsize="['52','52','50','28']"
                                            data-lineheight="['66','66','60','35']"
                                            data-width="full"
                                            data-height="none"
                                            data-whitespace="normal"
                                            data-transform_idle="o:1;"
                                            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                                            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                            data-mask_in="x:0px;y:[100%];" 
                                            data-mask_out="x:inherit;y:inherit;" 
                                            data-start="700" 
                                            data-splitin="none" 
                                            data-splitout="none" 
                                            data-responsive_offset="on">
                                            {{home.banner3_h1 | linebreaksbr}}
                                        </div>

                                        <div class="tp-caption sub-title text-white text-right"
                                            data-x="['right','right','right','right']" data-hoffset="['-5','-5','0','0']"
                                            data-y="['middle','middle','middle','middle']" data-voffset="['104','104','104','57']"
                                            data-fontsize="['20','20','18','16']"
                                            data-lineheight="['34','34','34','25']"
                                            data-width="full"
                                            data-height="none"
                                            data-whitespace="normal"
                                            data-transform_idle="o:1;"
                                            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                                            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                            data-mask_in="x:0px;y:[100%];" 
                                            data-mask_out="x:inherit;y:inherit;" 
                                            data-start="1000" 
                                            data-splitin="none" 
                                            data-splitout="none" 
                                            data-responsive_offset="on">
                                            {{home.banner3_caption | linebreaksbr}}
                                        </div>

                                        <div class="tp-caption text-right"
                                            data-x="['right','right','right','right']" data-hoffset="['-5','-5','0','0']"
                                            data-y="['middle','middle','middle','middle']" data-voffset="['193','193','193','140']"
                                            data-width="full"
                                            data-height="none"
                                            data-whitespace="normal"
                                            data-transform_idle="o:1;"
                                            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                                            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                            data-mask_in="x:0px;y:[100%];" 
                                            data-mask_out="x:inherit;y:inherit;" 
                                            data-start="1000" 
                                            data-splitin="none" 
                                            data-splitout="none" 
                                            data-responsive_offset="on">
                                         </div>

                                        <div class="tp-caption text-right"
                                            data-x="['right','right','right','right']" data-hoffset="['212','212','180','165']"
                                            data-y="['middle','middle','middle','middle']" data-voffset="['193','193','193','140']"
                                            data-width="full"
                                            data-height="none"
                                            data-whitespace="normal"
                                            data-transform_idle="o:1;"
                                            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                                            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                            data-mask_in="x:0px;y:[100%];" 
                                            data-mask_out="x:inherit;y:inherit;" 
                                            data-start="1000" 
                                            data-splitin="none" 
                                            data-splitout="none" 
                                            data-responsive_offset="on">
                                          </div>
                                    </li>
                                    <!-- /End Slide 3 -->
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <!-- END SLIDER -->

                        <!-- SERVICES IMAGEBOXS -->
                        <div class="row-services">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="themesflat-spacer clearfix" data-desktop="92" data-mobi="60" data-smobi="60"></div>
                                        {%for home in home%}
                                        <div class="themesflat-headings style-1 clearfix text-center padding-left-32">
                                        	<h1 class="heading clearfix">{{home.section1_heading}} </h1>
                                        	<div class="sep clearfix"></div>
                                        	<p class="sub-heading clearfix">{{home.section1_content|linebreaksbr}}</p>
                                        </div><!-- /.themesflat-headings -->
                                        {%endfor%}
										<div class="themesflat-spacer clearfix" data-desktop="50" data-mobi="40" data-smobi="40"></div>
                                    </div><!-- /.col-md-12 -->
                                 

                                    
                                </div><!-- /.row -->
                            </div><!-- /.container -->
                        </div>
                        <!-- END SERVICES IMAGEBOXS -->


                      

                        <div class="row-video">
                            <div class="container">
                               
                                <div class="row equalize sm-equalize-auto">
                                    <div class="col-md-6">
                                        <div class="themesflat-spacer clearfix" data-desktop="92" data-mobi="60" data-smobi="60"></div>
                                        {%for home in home%}
                                        <div class="themesflat-headings style-1 clearfix text-center padding-left-32">
                                            <h4 class="heading clearfix">{{home.section2_heading}} </h4>
                                            <div class="sep clearfix"></div>
                                            <p class="sub-heading clearfix">{{home.section2_content|linebreaksbr}}</p>
                                        </div><!-- /.themesflat-headings -->
                                        
                                        <div class="themesflat-spacer clearfix" data-desktop="50" data-mobi="40" data-smobi="40"></div>
                                    </div><!-- /.col-md-6 -->

                                    <div class="col-md-6 section2-wrap">
                                        <div class="">
                                            <img  src="{{home.section2_imageURL}}">
                                                
                                        </img>
                                        </div><!-- /.themesflat-icon -->
                                    </div><!-- /.col-md-6 -->
                                    {%endfor%}
                                </div>
                                <div class="themesflat-spacer clearfix" data-desktop="80" data-mobi="60" data-smobi="60"></div>
                                <div class="border-h-1 dark"></div>
                            </div>
                        </div>

                        <!-- FACTS -->
                        <div class="row-facts-1 parallax parallax-overlay">
                            <div class="bg-parallax-overlay overlay-black"></div>
                            {% for home in home %}
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="themesflat-spacer clearfix" data-desktop="104" data-mobi="60" data-smobi="60"></div>
                                    </div><!-- /.col-md-12 -->

                                    <div class="col-md-3">
                                        <div class="themesflat-animation-block" data-animate="fadeInUpSmall" data-duration="1s" data-delay="0" data-position="80%">
                                            <div class="themesflat-counter style-3 mobi-center clearfix icon-top margin-top--27">
                                                <div class="inner">
                                                    <div class="text-wrap">
                                                        <div class="number-wrap font-heading">
                                                            <span class="prefix">FOUNDED<br>IN </span><span class="number accent" data-speed="15000" data-to="2020" data-inviewport="no">2020</span><span class="suffix">.</span>
                                                        </div>
                            
                                                        <div class="sep"></div>
                                                        <h3 class="heading">{{home.section3_content}}</h3>
                                                    </div>
                                                </div>
                                            </div><!-- /.themesflat-counter -->
                                        </div><!-- /.themesflat-animation-block -->

                                        <div class="themesflat-spacer clearfix" data-desktop="0" data-mobi="40" data-smobi="40"></div>
                                    </div><!-- /.col-md-3 -->

                                    <div class="col-md-3">
                                        <div class="themesflat-animation-block" data-animate="fadeInUpSmall" data-duration="1s" data-delay="0.15s" data-position="80%">
                                        <div class="themesflat-counter style-2 clearfix icon-top text-center">
                                            <div class="inner">
                                                <div class="text-wrap">
                                                    <div class="number-wrap font-heading">
                                                        <span class="prefix"></span><span class="number accent" data-speed="2000" data-to="{{home.section3_percentage1}}" data-inviewport="yes">{{home.section3_percentage1}}</span><span class="suffix">%</span>
                                                    </div>

                                                    <div class="sep"></div>
                                                    <h3 class="heading">{{home.section3_percentage1_heading}}</h3>
                                                </div>

                                                <div class="border-right-2"></div>
                                            </div>
                                        </div><!-- /.themesflat-counter -->
                                        </div><!-- /.themesflat-animation-block -->

                                        <div class="themesflat-spacer clearfix" data-desktop="0" data-mobi="40" data-smobi="40"></div>
                                    </div><!-- /.col-md-3 -->

                                    <div class="col-md-3">
                                        <div class="themesflat-animation-block" data-animate="fadeInUpSmall" data-duration="1s" data-delay="0.3s" data-position="80%">
                                        <div class="themesflat-counter style-2 clearfix icon-top text-center">
                                            <div class="inner">
                                                <div class="text-wrap">
                                                    <div class="number-wrap font-heading">
                                                        <span class="prefix"></span><span class="number accent" data-speed="3000" data-to="{{home.section3_percentage2}}" data-inviewport="yes">{{home.section3_percentage2}}</span><span class="suffix">%</span>
                                                    </div>

                                                    <div class="sep"></div>
                                                    <h3 class="heading">{{home.section3_percentage2_heading}}</h3>

                                                    <div class="border-right-2"></div>
                                                </div>
                                            </div>
                                        </div><!-- /.themesflat-counter -->
                                        </div><!-- /.themesflat-animation-block -->

                                        <div class="themesflat-spacer clearfix" data-desktop="0" data-mobi="40" data-smobi="40"></div>
                                    </div><!-- /.col-md-3 -->

                                    <div class="col-md-3">
                                        <div class="themesflat-animation-block" data-animate="fadeInUpSmall" data-duration="1s" data-delay="0.45s" data-position="80%">
                                        <div class="themesflat-counter style-2 clearfix icon-top text-center">
                                            <div class="inner">
                                                <div class="text-wrap">
                                                    <div class="number-wrap font-heading">
                                                        <span class="prefix"></span><span class="number accent" data-speed="3000" data-to="{{home.section3_percentage3}}" data-inviewport="yes">{{home.section3_percentage3}}</span><span class="suffix">%</span>
                                                    </div>

                                                    <div class="sep"></div>
                                                    <h3 class="heading">{{home.section3_percentage3_heading}}</h3>
                                                </div>
                                            </div>
                                        </div><!-- /.themesflat-counter -->
                                        </div><!-- /.themesflat-animation-block -->
                                    </div><!-- /.col-md-3 -->

                                    <div class="col-md-12">
                                        <div class="themesflat-spacer clearfix" data-desktop="72" data-mobi="60" data-smobi="60"></div>
                                    </div><!-- /.col-md-12 -->
                                </div><!-- /.row -->
                            </div><!-- /.container -->
                            {% endfor %}
                        </div>
                        <!-- END FACTS 1 -->

                       

                        <!-- ANALYSIS -->
                        <div class="row-services" id="services">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="themesflat-spacer clearfix" data-desktop="91" data-mobi="40" data-smobi="40"></div>
                                        {% for home in home %}
                                        <div class="themesflat-headings style-2 clearfix text-center padding-left-24">
                                            <h2 class="heading clearfix">{{home.section4_heading}}</h2>                                            
                                            <p class="sub-heading clearfix">{{home.section4_content|linebreaksbr}}</p>
                                            <div class="sep clearfix"></div>
                                        </div><!-- /.themesflat-headings -->
                                        {% endfor %}
                                        <div class="themesflat-spacer clearfix" data-desktop="60" data-mobi="60" data-smobi="60"></div>
                                    </div><!-- /.col-md-12 -->

                                    <div class="col-md-6">
                                        {% for services in services_off_content1 %}
                                        <div class="themesflat-icon-box style-3 height-fix clearfix icon-left w70 dark-bg align-left rounded-100 has-width">
                                            <div class="image-wrap">
                                                <img src="{{services.imageURL}}" alt="">
                                            </div>

                                            <h3 class="heading"><a href="/services/{{services.services_Name}}">{{services.services_Name}}</a></h3>

                                            <p class="description">{{services.description|linebreaksbr}}</p>
                                        </div><!-- /.themesflat-icon-box -->
                                        <br><br><br>
                                        {% endfor %}
                                       
                                    </div><!-- /.col-md-4 -->

                                    <div class="col-md-6">
                                        {% for services in services_off_content2 %}
                                        <div class="themesflat-icon-box style-3 height-fix clearfix icon-left w70 dark-bg align-left rounded-100 has-width">
                                            <div class="image-wrap">
                                                <img src="{{services.imageURL}}" alt="">
                                            </div>

                                            <h3 class="heading"><a href="/services/{{services.services_Name}}">{{services.services_Name}}</a></h3>

                                            <p class="description">{{services.description|linebreaksbr}}</p>
                                        </div><!-- /.themesflat-icon-box -->
                                        <br><br><br>
                                        {% endfor %}
                                       
                                    </div><!-- /.col-md-4 -->

                                    

                                    

                                    <div class="col-md-12">
                                        <div class="themesflat-spacer clearfix" data-desktop="107" data-mobi="60" data-smobi="60"></div>
                                    </div><!-- /.col-md-12 -->
                                </div><!-- /.row -->
                            </div><!-- /.container -->
                        </div>
                        <!-- END ANALYSIS -->

                        <div class="row-request" id="request">
                            <div class="container-fluid">
                                <div class="row equalize sm-equalize-auto">
                                    <div class="col-md-6 half-background style-3">
                                        
                                    </div>
                                    <div class="col-md-6 bg-light-grey">
                                        <div class="themesflat-spacer clearfix" data-desktop="85" data-mobi="40" data-smobi="40"></div>

                                        <div class="themesflat-content-box clearfix " data-margin="0% 26.8% 0% 10.7%" data-mobimargin="0% 5% 0% 5%">
                                            <div class="themesflat-headings style-3 clearfix">
                                                <h2 class="heading clearfix">REQUEST FOR A CALL BACK</h2>
                                                <div class="sep clearfix"></div>
                                                <p class="sub-heading clearfix">Please complete this form, our expert advisor will be in touch with you.</p>
                                            </div><!-- /.themesflat-headings -->

                                            <div class="themesflat-spacer clearfix" data-desktop="32" data-mobi="40" data-smobi="40"></div>

                                            <div class="themesflat-contact-form style-1">
                                                <form action="{% url 'landing:form_req' %}" method="post" class="contact-form wpcf7-form">
                                                    {% csrf_token %}
                                                    <span class="wpcf7-form-control-wrap your-name">
                                                        <input type="text" tabindex="1" id="name" name="name" value="" class="wpcf7-form-control" placeholder="YOUR NAME*" required>
                                                    </span>
                                                    <span class="wpcf7-form-control-wrap your-name">
                                                        <input type="text" tabindex="2" id="name" name="email" value="" class="wpcf7-form-control" placeholder="YOUR EMAIL*" required>
                                                    </span>
                                                    <span class="wpcf7-form-control-wrap your-phone">
                                                        <input type="text" tabindex="3" id="phone" name="phone" value="" class="wpcf7-form-control" placeholder="YOUR PHONE*" required>
                                                    </span>
                                                    
                                                    <span class="wpcf7-form-control-wrap your-subject">
                                                        <input type="text" tabindex="4" id="subject" name="subject" value="" class="wpcf7-form-control" placeholder="SUBJECT*" required>
                                                    </span>
                                                    <span class="wpcf7-form-control-wrap your-message">
                                                        <textarea name="message" tabindex="5" cols="50" rows="10" class="wpcf7-form-control wpcf7-textarea" placeholder="YOUR MESSAGE*" required></textarea>
                                                    </span>
                                                    
                                                    <div class="wrap-submit">
                                                        <input type="submit" value="CALL ME BACK" class="submit wpcf7-form-control wpcf7-submit" id="submit" name="submit">
                                                    </div>
                                                   
                                                </form>
                                            </div><!-- /.themesflat-contact-form -->
                                        </div><!-- /.themesflat-content-box -->

                                        <div class="themesflat-spacer clearfix" data-desktop="90" data-mobi="40" data-smobi="40"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br><br><br><br>

                    
                    </div><!-- /.page-content -->
                </div><!-- /#inner-content -->
            </div><!-- /#site-content -->
        </div><!-- /#content-wrap -->
    </div><!-- /#main-content -->

    

    <!-- Bottom -->
   



</body>

<!-- Mirrored from themesflat.com/html/ficonsu/home.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 03 Mar 2021 17:50:14 GMT -->
</html>

{% endblock %}